
<web-app>
	<security-role>
		<description></description>
		<role-name>guest</role-name>
	</security-role>
	<security-constraint>
		<display-name>WebMarket Security</display-name>
		<web-resource-collection>
			<web-resource-name>WebMarket</web-resource-name>
			<description></description>
			<url-pattern>/BookMarket/addBook.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>권한 관리자명</description>
			<role-name>guest</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
	<!-- FORM 인증 처리 기법을 설정하도록 <auth-method> 요소를 작성 -->
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/BookMarket/login.jsp</form-login-page>
			<form-error-page>/BookMarket/login_failed.jsp</form-error-page>
		</form-login-config>
	<!--/ FORM 인증 처리 기법을 설정하도록 <auth-method> 요소를 작성 -->
	</login-config>
	
	<!-- 오류가 발생하였을 때 오류 상태와 오류 페이지를 출력하도록 작성 -->
	<error-page>
		<error-code>404</error-code>
		<location>/BookMarket/exceptionNoPage.jsp</location>
	</error-page>
</web-app>
